/*cambio la fuente a todo el sitio*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*responsive imagen*/

img {
    max-width: 100%;
}

p {
    font-size: 16px;
    line-height: 2;
}

.site-header {
    padding: 20px 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.barra {
    background-color: rgb(220, 20, 130);
    margin-top: 40px;
}

.navegacion-principal a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    /*un enlace bajo de otro*/
    display: block;
    text-align: center;
    padding: 20px;
}

@media (min-width: 768px) {
    .navegacion-principal a {
        display: inline-block;
        margin-right: 15px;
    }
}

.navegacion-principal a:hover {
    background-color: rgb(27, 226, 226);
}


/*para el main*/

.contenido-principal {
    margin-top: 20px;
}

.contenido-principal,
.sidebar {
    padding: 20px;
}

@media (min-width: 768px) {
    .contenido-principal {
        width: 80%;
        float: left;
        padding-right: 0 60px 0 0;
    }
    .sidebar {
        width: 20%;
        float: right;
        padding: 0;
        margin-top: 40px;
    }
}


/*entrada de blog*/

h2 {
    color: rgb(27, 226, 226);
    margin-bottom: 20px;
}

.entrada {
    margin-bottom: 60px;
}

.entrada:last-of-type {
    margin-bottom: 0;
}

.entrada img {
    display: block;
}

@media (min-width: 768px) {
    .entrada img {
        width: 300px;
        float: left;
        margin: 0 30px 0 0;
    }
}

.entrada p {
    text-align: justify;
}

.boton {
    background-color: rgb(27, 226, 226);
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    transition: background-color .3s ease-in-out;
}

.boton:hover {
    background-color: rgb(33, 99, 99);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 10px 10px 0;
}

.sidebar ul li:hover {
    background-color: rgb(33, 99, 99);
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(27, 226, 226);
    font-size: 18px;
}

.sidebar ul li:hover a {
    color: white;
}


/**sobre el footer**/

.footer-sitio {
    background-color: rgb(220, 20, 130);
    padding-top: 35px;
    margin-top: 65px;
    color: white;
    text-align: center;
}

.footer-sitio h2 {
    color: white;
}

.footer-sitio a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}


/*elimina margen del ultimo elemento*/

.footer-sitio a:last-of-type {
    margin-right: 0;
}

@media (min-width: 768px) {
    .footer-sitio .nosotros {
        float: left;
        width: 30%;
    }
    .footer-sitio .menu {
        float: right;
        width: 50%;
        text-align: right;
    }
}

.copyright {
    background-color: rgb(116, 3, 63);
    margin-top: 50px;
    margin-bottom: 0;
    padding: 20px 0;
}


/*navegacion responsive*/

.barra {
    overflow: hidden;
}

.mobile-menu {
    color: white;
    font-size: 3rem;
    text-align: center;
    display: block;
    padding: 20px 0;
}


/*menu pantalla chica*/

#nav:target {
    max-height: 800px;
}

.navegacion-principal {
    max-height: 0;
    transition: .5s;
}

@media (min-width: 768px) {
    .navegacion-principal {
        max-height: unset;
    }
    .mobile-menu,
    .cerrar {
        display: none!important;
    }
}